---
title: Barbaricum - Археологія України
description: Барбарікум. Барбарикум. Навчальна науково-дослідна лабораторія археологічних досліджень. Історичного факультету Національного педагогічного університету ім. М. П. Драгоманова.
pagename: Barbaricum
seo: false
landing: true
redirect_from:
    - /home/
---

<section id="welcome" class="page-section page-section-banner page-darkness">
    <div class="page-layout d-cover">
        <div class="row d-cover">
            <div class="col-12 d-cover a-centered">
                <div class="text-white">
                    <div class="text-center">
                        <figure class="svg-icon">{% include svg src="logo" color='#fff' %}</figure>
                        <h1 class="page-section-title">Навчальна науково-дослідна лабораторія археологічних досліджень</h1>
                        <h4 class="page-section-summary">Історичного факультету Національного педагогічного університету ім. М. П. Драгоманова.</h4>
                    </div>
                    <div class="row-button">
                        <div class="col-button">
                            <a href="/archaeology/" class="btn">Археологія</a>
                        </div>
                        <div class="col-button">
                            <a href="/journal/" class="btn">Журнал</a>
                        </div>
                        <div class="col-button">
                            <a href="/laboratory/" class="btn">Лабораторія</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="history" class="page-section">
    <div class="page-layout">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="page-section-summary">Історія Лабораторії нараховує вже більше 40 років і бере свій початок у далекому 1969 році, коли в
                    Київському педагогічному інституті ім. А. М. Горького був відкритий історичний факультет і створений
                    гурток археології.</h4>
            </div>
        </div>
    </div>
</section>





<section class="page-section page-section-gray">
    <div class="page-layout">
        <div class="row">

            <div class="col-md-4">
                <div class="mb-2">
                    {% include image src="https://i.imgur.com/L4Uhkhq.png" %}
                </div>
                <h4 class="text-ellipsis text-center">Періодизація</h4>
            </div>

            <div class="col-md-4">
                <div class="mb-2">
                    {% include image src="https://i.imgur.com/6nqRGdI.jpg" %}
                </div>
                <h4 class="text-ellipsis text-center">Культури</h4>
            </div>

            <div class="col-md-4">
                <div class="mb-2">
                    {% include image src="https://i.imgur.com/H7lAy6f.jpg" %}
                </div>
                <h4 class="text-ellipsis text-center">Законодавство</h4>
            </div>

            <div class="col-md-4">
                <div class="mb-2">
                    {% include image src="https://i.imgur.com/P2gRO1P.jpg" %}
                </div>
                <h4 class="text-ellipsis text-center">Бібліотека</h4>
            </div>

            <div class="col-md-4">
                <div class="mb-2">
                    {% include image src="https://i.imgur.com/gdTIZ83.jpg" %}
                </div>
                <h4 class="text-ellipsis text-center">Публікації</h4>
            </div>

            <div class="col-md-4">
                <div class="mb-2">
                    {% include image src="https://i.imgur.com/l4OfgPc.jpg" %}
                </div>
                <h4 class="text-ellipsis text-center">Звіти експедіцій</h4>
            </div>

        </div>
    </div>
</section>