<section id="banner" class="page-section page-section-header" data-cover="{{page.image.path}}">
    <div class="page-layout d-cover">
        <div class="row d-cover">
            <div class="col-12 d-cover a-centered">
                <div class="width-full text-light">
                    {% if page.title %}
                        <h1>{{ page.title }}</h1>
                    {% endif %}
                    {% if page.description %}
                        <h5>{{ page.description }}</h5>
                    {% endif %}
                    {% if page.legislation %}
                    <p>
                        <a href="{{ page.legislation.link }}" class="text-white">{{ page.legislation.organization }}</a> &bull;
                        <span>№ {{ page.legislation.number }}</span> &bull;
                        <span>{{ page.legislation.date }}</span>
                    </p>
                    {% endif %}
                    {% include breadcrumbs.html %}
                </div>
            </div>
        </div>
    </div>
</section>