<footer class="page-footer">
    <div class="page-layout text-light">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <h4><a href="/archaeology/">Археологія</a></h4>
                <ul class="fa-ul">
                    <li><a href="/archaeology/periods/" class="text-bold">Періодизація</a></li>
                    <li><a href="/archaeology/cultures/" class="text-bold">Культури</a></li>
                    <li><a href="/archaeology/legislation/" class="text-bold">Законодавство</a></li>
                    <li><a href="/archaeology/library/" class="text-bold">Бібліотека</a></li>
                    <li><a href="/archaeology/articles/" class="text-bold">Публікації</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4><a href="/journal/">Журнал</a></h4>
                <ul class="fa-ul">
                    <li><a href="/journal/publish/" class="text-bold">Додати публікацію</a></li>
                    <li><a href="/journal/archive/" class="text-bold">Архів</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4 href="/laboratory/">Лабораторія</h4>
                <ul class="fa-ul">
                    <li><a href="/laboratory/history/" class="text-bold">Історія лабораторії</a></li>
                    <li><a href="/laboratory/person/" class="text-bold">Склад лабораторії</a></li>
                    <li><a href="/laboratory/reports/" class="text-bold">Звіти експедицій</a></li>
                    <li><a href="/laboratory/fonds/" class="text-bold">Фонди лаборіторії</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4>Контакти</h4>
                <p>03037, м. Київ, вул. Освіти, 6</p>
                <p>+380 (044) 249-84-19</p>
                <p>iionpu@ukr.net</p>
            </div>

            <div class="col-md-12 mt-c bt-1">
                <p><strong>© 2006 - {{ "now" | date: "%Y" }} {{ site.title }} - Лабораторія археологічних
                    досладжень</strong></p>
                <p>Використання матеріалів сайту можливе лише при згоді адміністрації сайту та активного посилання.</p>
            </div>
            <div class="col-auto d-md-inline-flex align-items-center">
                <span class="d-block mr-2">Розміщення сайту</span>
                <a href="https://pages.github.com/" target="_blank"
                   class="d-block svg-inline-icon text-white">
                    {% include icon/github.svg %}
                </a>
            </div>
            <div class="col-auto ml-auto d-md-inline-flex align-items-center">
                <a href="https://kosatyi.com/" target="_blank" class="d-block mr-2">Розробка сайту</a>
            </div>
            <div class="col-auto d-md-inline-flex align-items-center">
                <a href="https://romasheva.com/" target="_blank" class="d-block mr-2">Дизайн</a>
            </div>
        </div>
    </div>
</footer>