<footer class="page-footer">
    <div class="page-layout text-light">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <h4><a href="/archaeology/">Археологія</a></h4>
                <ul class="fa-ul">
                    <li><a href="/archaeology/periods/" class="text-bold">Періодизація</a></li>
                    <li><a href="/archaeology/cultures/" class="text-bold">Культури</a></li>
                    <li><a href="/archaeology/legislation/" class="text-bold">Законодавство</a></li>
                    <li><a href="/archaeology/library/" class="text-bold">Бібліотека</a></li>
                    <li><a href="/archaeology/articles/" class="text-bold">Публікації</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4><a href="/journal/">Журнал</a></h4>
                <ul class="fa-ul">
                    <li><a href="/journal/publish/" class="text-bold">Додати публікацію</a></li>
                    <li><a href="/journal/archive/" class="text-bold">Архів</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4 href="/laboratory/">Лабораторія</h4>
                <ul class="fa-ul">
                    <li><a href="/laboratory/history/" class="text-bold">Історія лабораторії</a></li>
                    <li><a href="/laboratory/person/" class="text-bold">Склад лабораторії</a></li>
                    <li><a href="/laboratory/reports/" class="text-bold">Звіти експедицій</a></li>
                    <li><a href="/laboratory/fonds/" class="text-bold">Фонди лаборіторії</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4>Контакти</h4>
                <p>kadsjfhaksjd hfljahs dfjhaksd</p>
                <p>kadsjfhaksjd hfljahs dfjhaksd</p>
                <p>kadsjfhaksjd hfljahs dfjhaksd</p>
            </div>
            <div class="col-md-12 mt-c" style="border-top:1px solid rgba(255,255,255,0.2);">
                <p><strong>© 2006 - {{ "now" | date: "%Y" }} {{ site.title }} - Лабораторія археологічних досладжень</strong></p>
                <p>Використання матеріалів сайту можливе лише при згоді адміністрації сайту та активного посилання.</p>
                <p class="d-inline-flex">
                    <span class="d-block mr-2 align-middle">Розміщення сайту</span>
                    <a href="https://pages.github.com/" target="_blank" class="d-block align-middle svg-inline-icon text-white">{% include icon/github.svg %}</a>
                </p>
            </div>
        </div>
    </div>
</footer>