<footer class="page-footer">
    <div class="page-layout text-light">
        <div class="row">
             <div class="col-sm-6 col-lg-3">
                <h3>Лабораторія</h3>
                <ul class="fa-ul">
                    <li><a href="">ajdhsfkjadhsfj</a></li>
                    <li><a href="">ajdhsfkjadhsfj</a></li>
                    <li><a href="">ajdhsfkjadhsfj</a></li>
                    <li>
                        <a href="">ajdhsfkjadhsfj</a>
                        <ul>
                            <li><a href="">ajdhsfkjadhsfj</a></li>
                            <li><a href="">ajdhsfkjadhsfj</a></li>
                            <li><a href="">ajdhsfkjadhsfj</a></li>
                            <li><a href="">ajdhsfkjadhsfj</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h3>Археологія</h3>
                <ul class="fa-ul">
                    <li><a href="">ajdhsfkjadhsfj</a></li>
                    <li><a href="">ajdhsfkjadhsfj</a></li>
                    <li><a href="">ajdhsfkjadhsfj</a></li>
                    <li><a href="">ajdhsfkjadhsfj</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h3>Історія</h3>
                <p>kadsjfhaksjd hfljahs dfjhaksd</p>
                <p>kadsjfhaksjd hfljahs dfjhaksd</p>
                <p>kadsjfhaksjd hfljahs dfjhaksd</p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h3>Контакти</h3>
                <p>kadsjfhaksjd hfljahs dfjhaksd</p>
                <p>kadsjfhaksjd hfljahs dfjhaksd</p>
                <p>kadsjfhaksjd hfljahs dfjhaksd</p>
            </div>
            <div class="col-md-12" style="border-top:1px solid rgba(255,255,255,0.2);margin-top:2.5rem;">
                <p><strong>© 2006 - {{ "now" | date: "%Y" }} {{ site.title }} - Лабораторія археологічних досладжень</strong></p>
                <p>Використання матеріалів сайту можливе лише при згоді адміністрації сайту та активного посилання.</p>
            </div>
        </div>
    </div>
</footer>