<header id="top" class="page-toolbar">
    <div class="page-layout d-flex pb-0">
        <div class="page-toolbar-item">
            asdasd
        </div>
        <div class="page-toolbar-item">
            sadasd
        </div>
        <div class="m-auto"></div>
        <div class="m-auto"></div>
        <div class="page-toolbar-item">
            sadasd
        </div>
    </div>
</header>

<header id="header" class="page-header sticky-top">
    <div class="page-layout d-flex pb-0">
        <a href="/" class="page-logo"><span>BARBARICUM</span></a>
        <nav class="page-nav">
            <div class="page-nav-item">
                <a href="/laboratory/" class="page-nav-link"><span>Лабораторія</span></a>
                <div class="page-nav-menu">
                    <a href="/laboratory/" class="page-nav-menu-link"><span>Лабораторія</span></a>
                    <a href="/laboratory/" class="page-nav-menu-link"><span>Лабораторія</span></a>
                    <a href="/laboratory/" class="page-nav-menu-link"><span>Лабораторія</span></a>
                    <a href="/laboratory/" class="page-nav-menu-link"><span>Лабораторія</span></a>
                </div>
            </div>
            <div class="page-nav-item">
                <a href="/archaeology/" class="page-nav-link"><span>Археологія</span></a>
            </div>
            <div class="page-nav-item">
                <a href="/history/" class="page-nav-link"><span>Історія</span></a>
            </div>
            <div class="page-nav-item">
                <a href="/contacts/" class="page-nav-link"><span>Контакти</span></a>
            </div>
        </nav>
    </div>
</header>

