<header id="top" class="page-toolbar">
    <div class="page-layout d-flex pb-0">
        <div class="page-toolbar-wrapper">
            <div class="page-toolbar-item"><a href="{{ '/' | absolute_url }}" class="text-white">Головна</a></div>
            <div class="page-toolbar-item">
                <a href="https://uazmi.org/" rel="nofollow" target="_blank" class="text-white">Новини</a>
            </div>
            <div class="page-toolbar-item">
                <a href="https://fio.npu.edu.ua/" rel="nofollow" target="_blank" class="text-white">Освіта</a>
            </div>
        </div>
        <div class="m-auto"></div>
        <div class="page-toolbar-wrapper d-none d-sm-flex">
            <div class="page-toolbar-item">
                <a href="{{ '/donate/' | absolute_url }}" class="btn btn-xs mr-2 text-transform-none btn-outline-light">Пожертвувати</a>
                <a href="{{ '/journal/publish/' | absolute_url }}" class="btn btn-xs text-transform-none btn-warning">Стати автором</a>
            </div>
        </div>
    </div>
</header>
<header id="header" class="page-header sticky-top">
    <div class="page-layout d-flex pb-0">
        <a href="{{ '/' | absolute_url }}" class="page-logo">{% include icon/logo-text.svg %}</a>
        <div class="page-nav-wrapper">
            <a href="#" class="page-nav-toggle">{% include icon/bars.svg %}</a>
            <nav class="page-nav-list">
                <div class="page-nav-item">
                    <a href="{{ '/news/' | absolute_url }}" class="page-nav-link"><span>Новини</span></a>
                </div>
                <div class="page-nav-item">
                    <a href="{{ '/archaeology/' | absolute_url }}" class="page-nav-link"><span>Археологія</span></a>
                    <div class="page-nav-menu">
                        <a href="{{ '/archaeology/periods/' | absolute_url }}" class="page-nav-menu-link"><span>Археологічна періодизація</span></a>
                        <a href="{{ '/archaeology/cultures/' | absolute_url }}" class="page-nav-menu-link"><span>Археологічні культури</span></a>
                        <a href="{{ '/archaeology/legislation/' | absolute_url }}" class="page-nav-menu-link"><span>Законодавство</span></a>
                        <a href="{{ '/archaeology/library/' | absolute_url }}" class="page-nav-menu-link"><span>Бібліотека</span></a>
                        <a href="{{ '/archaeology/articles/' | absolute_url }}" class="page-nav-menu-link"><span>Публікації</span></a>
                    </div>
                </div>
                <div class="page-nav-item">
                    <a href="{{ '/journal/' | absolute_url }}" class="page-nav-link"><span>Журнал</span></a>
                    <div class="page-nav-menu">
                        <a href="{{ '/journal/publish/' | absolute_url }}" class="page-nav-menu-link"><span>Додати публікацію</span></a>
                        <a href="{{ '/journal/archive/' | absolute_url }}" class="page-nav-menu-link"><span>Архів</span></a>
                    </div>
                </div>
                <div class="page-nav-item">
                    <a href="{{ '/laboratory/' | absolute_url }}" class="page-nav-link"><span>Лабораторія</span></a>
                    <div class="page-nav-menu">
                        <a href="{{ '/laboratory/history/' | absolute_url }}" class="page-nav-menu-link"><span>Історія лабораторії</span></a>
                        <a href="{{ '/laboratory/person/' | absolute_url }}" class="page-nav-menu-link"><span>Склад лабораторії</span></a>
                        <a href="{{ '/laboratory/reports/' | absolute_url }}" class="page-nav-menu-link"><span>Звіти експедицій</span></a>
                        <a href="{{ '/laboratory/fonds/' | absolute_url }}" class="page-nav-menu-link"><span>Фонди лабораторії</span></a>
                    </div>
                </div>
                <div class="page-nav-item">
                    <a href="{{ '/contacts/' | absolute_url }}" class="page-nav-link"><span>Контакти</span></a>
                </div>
            </nav>
        </div>
    </div>
</header>