@import "src/mixins";
@import "src/fonts";
@import "src/variables";
@import "src/modules";
@import "src/forms";
@import "src/type";
@import "src/container";
@import "src/helpers";


.page-layout {
  @extend .container;
}
.page-main {
  min-height: calc(100vh - #{$header-height} - #{$toolbar-height})
}

.page-toolbar {
  @include display-flex;
  @include flex-direction(row);
  height: $toolbar-height;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  fill: #fff;
  z-index: 100;
  position: relative;
  font-size: 0.875rem;
  font-weight: $font-weight-bold;
}

.page-toolbar-wrapper {
  @include display-flex;
  @include flex-direction(row);
  padding: 0 $grid-space/2;
}

.page-toolbar-item {
  @include display-flex;
  @include flex-direction(row);
  @include flex-center;
  padding: 0 $grid-space/2;
}

.page-header {
  @include display-flex;
  @include flex-direction(row);
  position: sticky;
  top: 0;
  height: $header-height;
  font-weight: $font-weight-bold;
  z-index: 100;
  color: #fff;
  fill: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &.sticky-active {
    background-color: theme-color('primary');
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.page-logo {
  @include display-flex;
  @include flex-direction(row);
  @include flex-center;
  padding: 0 $grid-space;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;

  svg {
    fill: #fff;
    height: 1.5rem;
  }

  @include hover-focus-active {
    text-decoration: none;
    color: #fff;
    svg {
      fill: #fff;
    }
  }
}

.page-nav {
  &-toggle {
    display: none;

    svg {
      fill: #fff;
      height: 1.5rem;
    }
  }

  &-list {
    @include display-flex;
    @include flex-direction(row);
  }

  &-wrapper {
    margin-left: auto;
    padding: 0 $grid-space / 2;

    @include display-flex;
    @include flex-direction(row);
  }

  &-item {
    margin: 0 $grid-space / 2;
    position: relative;
    @include display-flex;
    @include flex-direction(column);
    @include hover-focus {
      .page-nav-menu {
        @include display-flex;
        @include flex-direction(column);
      }
      .page-nav-link {
        text-decoration: none;

        &:after {
          width: 100%;
        }
      }
    }
  }

  &-link {
    @include display-flex;
    @include flex-direction(column);
    @include flex-center;
    @include flex(1);
    color: #fff;
    position: relative;
    @include hover-focus {
      color: #fff;
    }

    &:after {
      content: '';
      height: 2px;
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      width: 0;
      background-color: #ffd33d;
      transition: width 0.3s ease-in-out;
    }

    &.active {
      color: #ffd33d;
    }
  }

  &-menu {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    transition: all 0.2s 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    top: 100%;
    border-top: 1px solid theme-color('primary');
    right: 0;
    padding: $grid-space-sm 0;

    &-link {
      white-space: nowrap;
      padding: $grid-space-sm $grid-space;
      @include hover-focus {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  $back-color: rgba(255, 255, 255, 0.95);
  $link-color: invert($back-color, 100);
  .page-nav {
    &-wrapper:hover {
      .page-nav-list {
        display: block;
      }

      .page-nav-toggle {
        background-color: $back-color;
        z-index: 10;

        svg {
          fill: $link-color;
        }
      }
    }

    &-wrapper {
      position: relative;
    }

    &-toggle {
      @include display-flex;
      @include flex-direction(row);
      padding: 0 $grid-space;
      margin: 0 (-$grid-space / 2);
      align-items: center;
      justify-content: center;
    }

    &-list {
      z-index: 5;
      display: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      background-color: $back-color;
      border-top: 1px solid $back-color;
      position: absolute;
      top: 100%;
      right: 0;
      padding: $grid-space-sm 0;
    }

    &-item {
      padding: 0;
      margin: 0;
    }

    &-link, &-menu-link {
      color: $link-color;
      @include hover-focus {
        color: $link-color;
        background-color: rgba(0, 0, 0, 0.1);
      }

      &.active {
        color: $link-color;
      }
    }

    &-link {
      padding: $grid-space-sm $grid-space;
      align-items: start;

      &:after {
        display: none;
      }
    }

    &-menu {
      position: static;
      background: transparent;
      transition: none;
      box-shadow: none;
      border: none;
      padding: 0;
      display: block;

      &-link {
        display: block;
        font-weight: $font-weight-normal;
      }
    }
  }
}

.page-footer {
  background-color: theme-color('primary');
  color: #fff;

  a {
    color: #fff;
  }
}

.page-noise {
  $nc: rgba(0, 0, 0, .05);
  position: relative;
  &:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 4px 4px;
    background-image: linear-gradient(-45deg, $nc 25%, $tr 25%, $tr 50%, $nc 50%, $nc 75%, $tr 75%, $tr);
  }
  .page-layout {
    position: relative;
    z-index: 20;
  }
}

.page-darkness {
  &:after{
    content:'';
    background-color:rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.page-breadcrumbs {
  padding: 0;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &:only-child {
    margin-top: 0;
  }
  > li {
    margin: 0;
    padding: 0;
    display: inline-block;
    &:before {
      margin: 0 0.4rem;
      content: '/';
      color: rgba(255, 255, 255, 0.5);
    }
    &:first-child:before {
      display: none;
    }
    > a {
      color: rgba(255, 255, 255, 0.9);
    }
    > span {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.page-cover {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.page-section {
  &-cover {
    @include display-flex;
    @extend .page-noise;
    @extend .page-cover;
    min-height: calc(100vh - #{$header-height});
  }
  &-banner {
    @include display-flex;
    @extend .page-noise;
    @extend .page-cover;
    min-height: 100vh;
    padding-top: ($header-height + $toolbar-height);
    margin-top: -($header-height + $toolbar-height);
    background-color: #0f1212;
    background-image: url('/assets/images/cover/stars.jpg');
  }
  &-header {
    @include display-flex;
    @extend .page-cover;
    padding-top: $header-height + $toolbar-height;
    margin-top: -($header-height + $toolbar-height);
    background-color: #0f1212;
  }
  &-gray {
    background-color: #efefef;
  }
  &-dark {
    background-color: #0f1212;
  }
  &-green {
    background-color: #5c6b34;
  }
  &-blue {
    background-color: #0c5460;
  }
}


.page-section{
  & + & {
    border-top:1px solid #efefef;
  }
}

.col-price {
  @extend .col-md-4;
  position: relative;
  z-index: 5;

  &.featured {
    z-index: 10;
    margin-top: -$grid-gutter-width;
    margin-bottom: -$grid-gutter-width;
    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.row-price {
  @extend .no-gutters;
  @extend .row;
  @extend .width-full;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width * 2;
  @include media-breakpoint-down(sm) {
    padding-top: 0;
    padding-bottom: 0;
    .col-price {
      padding-right: $grid-space;
      padding-left: $grid-space;
    }
  }
}

.block-price {
  @include display-flex;
  @include flex-direction(column);
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &.main {
    z-index: 10;
  }

  &-header {
    padding: $grid-space;
    text-align: center;
    font-size: 20px;
    font-weight: $font-weight-bold;
    border-bottom: 1px solid #efefef;
  }

  &-content {
    padding: $grid-space;
    @include flex(1);
  }

  &-footer {
    padding: $grid-space;
    background-color: #efefef;
    text-align: center;
    cursor: pointer;
    @include hover-focus-active {
      background-color: #7769c1;
      color: #fff;
    }
  }
}

.row-button {
  @extend .row;
  .col-button {
    @extend .col-md;
    &:last-child {
      @extend .mb-0;
    }
  }
  .btn {
    @extend .btn-lg;
    @extend .btn-block;
    @extend .btn-outline-light;
    @extend .text-bold;
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.svg-inline-icon {
  display: inline-block;
  font-size: 0;
  svg {
    height: 1rem;
    width: auto;
    fill: inherit;
  }
}

.block.contents {
  @extend .col-md-auto;
  font-size: 0.875rem;
  margin-right: $grid-space;
  margin-top: $grid-gutter-width;
  max-width: 300px;
  background-color: #efefef;
  padding: $grid-space;
  height: calc(100vh - #{$header-height});
  overflow: auto;
  position: sticky;
  top: $header-height;
  z-index: 50;
}

.block.document {
  font-size: 1.0625rem;
  h3 + h3{
    margin-top:-1rem;
    color:#646464;
  }
}

.block.entry{
  margin-bottom:$grid-space;
  padding-bottom:$grid-space;
  border-bottom:1px solid $border-color;
  &:last-child{
    padding-bottom:0;
    margin-bottom:0;
    border-bottom:0;
  }
  > :last-child{
    margin-bottom:0;
  }
}

.block.article{
  font-size: 1.0625rem;
  max-width:50rem;
  margin-left:auto;
  margin-right:auto;
}


.block.article{
  p{
    img{
      max-width:100%;
      display:block;
      margin:0 auto;
    }
  }
  li{
    position:relative;
    padding-left:1.125rem;
    &:before{
      content:'⊛';
      position:absolute;
      color:$text-muted;
      left:0;
    }
  }
  table{
    width: 100%;
    &,tr,td,th{
      border:1px solid $table-border-color;
    }
    td,th{
      padding:.75rem;
      vertical-align: top;
    }
    th{
      font-weight:$font-weight-bold;
    }
  }
}

.table-container{

}

.table-info{
  &,tr,td,th{
    border:0;
  }
}


