---
title: Лабораторія
---

<section class="page-section">
    <div class="page-layout">
        <div class="row">
            <div class="col">
                <h2>Articles</h2>
                {% for item in site.articles %}
                <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
                <p>{{ item.description }}</p>
                {% endfor %}
                <h2>Legislation</h2>
                <h2>Collections</h2>
                {% for item in site.collections %}
                <div style="height:200px;">
                    {{ item.label }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>