.page-layout {
  padding-bottom: $grid-gutter;
  padding-left: $grid-space;
  padding-right: $grid-space;
  @include media-breakpoint-down(xs) {
    padding: 0 0 $grid-space 0;
  }
}

.mt-c {
  margin-top: $grid-gutter;
  @include media-breakpoint-down(xs) {
    margin-top: $grid-space;
  }
}

.row {
  margin: 0;
  [class*='col-'], .col {
    padding-top: $grid-gutter;
  }
  @include media-breakpoint-down(xs) {
    [class*='col-'], .col {
      padding-top: $grid-space;
    }
  }
}