.page-layout {
  padding-bottom:$grid-gutter;
  padding-left:$grid-space;
  padding-right:$grid-space;
  @include media-breakpoint-down(xs) {
    padding: 0 0 $grid-space 0;
  }
}

.row {
  margin: 0;
  [class*='col-'], .col {
    padding-top: $grid-gutter;
  }
  .row.child {
    margin: 0 -$grid-space;
    [class*='col-'], .col {
      padding-top: $grid-space;
      &:first-child {
        padding-top: 0;
      }
    }
  }
  @include media-breakpoint-down(xs) {
      margin: 0;
      > [class*='col-'],.col {
        padding-top: $grid-space;
      }
  }
}