html {
  scroll-behavior: smooth;
}

html, body {
  background-color: #fff;
}

strong, b, .text-bold {
  font-weight: $font-weight-bold;
}

.width-full {
  width: 100%;
}

.text-white{
  fill:#fff;
}

.relative {
  position: relative;
}


.d-flex {
  @include display-flex;
}

.d-row {
  @include flex-direction(row);
}

.d-column {
  @include flex-direction(column);
}

.flex-1 {
  @include flex(1);
}

.d-cover {
  @include display-flex;
  @include flex-direction(column);
  @include flex(1);
}

.flex-row {
  @include display-flex;
  @include flex-direction(row);
}

.flex-column {
  @include display-flex;
  @include flex-direction(column);
}

.a-centered {
  align-items: center;
  justify-content: center;
}

.text-light {
  color: #fff;
  fill: #fff;
}

.bold {
  font-weight: $font-weight-bold;
}

.svg-icon {
  svg {
    max-width: none;
    max-height: 100px;
    display: block;
    margin:0 auto;
  }
}

.sticky-header {
  position: sticky;
  z-index: 50;
  top: $header-height;
}

.sticky-header-margin {
  position: sticky;
  z-index: 50;
  top: $header-height + $grid-gutter-width;
}

