---
title: Археологічні культури
description: Археологічна культура — термін, уживаний для позначення спільності (комплексу) подібних між собою археологічних пам’яток, що відносяться до одного часу і поширені в певній місцевості.
redirect_from: /cultures/
---


<section class="page-section">
    <div class="page-layout">
        <div class="row">
            <div class="col-12 col-text">
                <p>1. <strong>Археологі́чна культу́ра</strong> — термін, уживаний для позначення спільності (комплексу)
                    подібних між собою археологічних пам'яток, що відносяться до одного часу й поширені в певній
                    місцевості. АБО</p>
                <p>2. <strong>Культура археологічна</strong> — стійка сукупність типів археологічних решток, об'єднаних
                    спільною територією, які змінюються та розвиваються у взаємозв'язку. Оскільки археологічна культура
                    змінюється в часі й просторі, розрізняють її «локальні варіанти» та «хронологічні етапи».</p>
                <p><strong>Археологічна культура</strong> — фундаментальне поняття археологічної науки. З одного боку,
                    воно дає змогу впорядкувати археологічні джерела, локалізувавши їх у просторі й часі, з другого —
                    прокладає місток між археологічними джерелами та їхніми творцями.</p>
                <p>Немає сумніву, що за археологічними культурами стоять певні спільноти — народи чи групи споріднених
                    народів. Це надзвичайно важливо для стародавньої історії, котра має справу з дописемним періодом.
                    «Німа» історія неначе починає говорити, набуває певної конкретності, а анонімні спільноти, що лишили
                    певні археологічні культури, отримують, хай умовну, назву. Тому виділення археологічних культур
                    становить підґрунтя для розв'язання найрізноманітніших проблем давньої історії: способу
                    господарювання, соціального устрою, етнокультурної специфіки спільнот. Зіставлення матеріалів різних
                    археологічних культур дає змогу відтворити певною мірою етногенез окремих народів, їхні господарські
                    зв'язки, міграційні процеси тощо.</p>
                <p>Подібність археологічних пам'яток простежується за різними рисами, наприклад, за формами та
                    оздобленням посуду, прикрасами, прийомами домобудування та оформленням інтер'єру осель, поховальними
                    звичаями тощо. Про поширення тих чи тих археологічних комплексів у межах певних територій почали
                    говорити в XIX столітті; для означення таких комплексів користувалися різними термінами: культурна
                    група, культурна провінція, культурний ареал, просто культура тощо. Термін «археологічна культура»
                    широко входить у науку наприкінці XIX — початку XX століть. Відтоді він стає головним для означення
                    археологічних комплексів. Саме в першій половині XX століття виділено більшість археологічних
                    культур.</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section-gray">
    <div class="page-layout">
        <div class="row">
            <div class="col-12">
                <figure class="bg-white">
                    <table class="table table-bordered table-compact table-mb-0">
                        <tbody>
                        <tr class="compact-hide">
                            <th>Назва</th>
                            <th>Час</th>
                            <th>Територія</th>
                        </tr>
                        <tr>
                            <th colspan="3">Палеоліт</th>
                        </tr>
                        <tr>
                            <td>Олдувайська культура</td>
                            <td>2 600 000 до н. е. — 500 000 до н. е.</td>
                            <td>Східна і північна Африка, Палестина</td>
                        </tr>
                        <tr>
                            <td>Ашельська культура</td>
                            <td>1 400 000 до н. е. — 60 000 до н. е.</td>
                            <td>Африка, Близький Схід, західна і південна Європа</td>
                        </tr>
                        <tr>
                            <td>Абвільська культура або Шельська культура</td>
                            <td>700 000 до н. е. — 300 000 до н. е.</td>
                            <td>Західна і південна Європа</td>
                        </tr>
                        <tr>
                            <td>Мустьєрська культура</td>
                            <td>100 000 до н. е. — 33 000 до н. е.</td>
                            <td>Більша частина Європи, Близький Схід, Середня Азія, Казахстан</td>
                        </tr>
                        <tr>
                            <td><a href="{{ '/archaeology/cultures/paleolit/antonivska-kultura.html' | absolute_url }}">Антонівська
                                культура</a></td>
                            <td>100 000 до н. е. — 40 000 до н. е.</td>
                            <td>Донбас, Україна</td>
                        </tr>
                        <tr>
                            <td>Костьонківсько-стрілецька культура</td>
                            <td>32 000 до н. е. — 30 000 до н. е.</td>
                            <td>Україна</td>
                        </tr>
                        <tr>
                            <td>Перигорська культура</td>
                            <td>31 000 до н. е. — 18 000 до н. е.</td>
                            <td>Західна і Центральна Європа</td>
                        </tr>
                        <tr>
                            <td>Оріньякська культура</td>
                            <td>30 000 до н. е. — 20 000 до н. е.</td>
                            <td>Західна і Центральна Європа</td>
                        </tr>
                        <tr>
                            <td>Костенківсько-авдіївська культура</td>
                            <td>22 000 до н. е. — 19 000 до н. е.</td>
                            <td>Україна і Центральна Європа</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ '/archaeology/cultures/paleolit/solyutreyska-kultura.html' | absolute_url }}">Солютрейська
                                    культура</a></td>
                            <td>19 000 до н. е. — 16 000 до н. е.</td>
                            <td>Західна Європа</td>
                        </tr>
                        <tr>
                            <td>Мадленська культура</td>
                            <td>16 000 до н. е. — 9 000 до н. е.</td>
                            <td>Західна і Центральна Європа</td>
                        </tr>
                        <tr>
                            <td>Свідерська культура</td>
                            <td>10 000 до н. е. — 8 000 до н. е.</td>
                            <td>Польща, Литва, Білорусь</td>
                        </tr>
                        <tr>
                            <td>Натуфійська культура</td>
                            <td>10 000 до н. е. — 7 000 до н. е.</td>
                            <td>Палестина, Ліван, Сирія</td>
                        </tr>
                        <tr>
                            <td>Азільська культура</td>
                            <td>9 000 до н. е. — 7 500 до н. е.</td>
                            <td>Франція, Німеччина, Піренейський півострів</td>
                        </tr>
                        <tr>
                            <td>Аренсбургська культура (Лингбі)</td>
                            <td>9 000 до н. е. — 8 000 до н. е.</td>
                            <td>Південне узбережжя Північного і Балтійського морей</td>
                        </tr>
                        <tr>
                            <td>Аскола культура</td>
                            <td>9 000 до н. е. — 6 500 до н. е.</td>
                            <td>Карелія</td>
                        </tr>
                        <tr>
                            <td>Маґлемозе культура</td>
                            <td>8 000 до н. е. — 5 000 до н. е.</td>
                            <td>Південне узбережжя Північного і Балтійського морей, Данія, Англія, південна
                                Скандинавія
                            </td>
                        </tr>
                        <tr>
                            <td>Німанська культура (мезолітична доба)</td>
                            <td>8 000 до н. е. — 4 000 до н. е.</td>
                            <td>Литва, південно-західна Білорусь</td>
                        </tr>
                        <tr>
                            <td>Кундаська культура</td>
                            <td>8 000 до н. е. — 3 000 до н. е.</td>
                            <td>Естонія, Латвія, північна Литва, Іжорія</td>
                        </tr>
                        <tr>
                            <td>Комса культура</td>
                            <td>8 000 до н. е. — 3 000 до н. е.</td>
                            <td>Північне узбережжя Норвегії і Кольського півострова</td>
                        </tr>
                        <tr>
                            <td>Капсійська культура</td>
                            <td>8 000 до н. е. — 4 000 до н. е.</td>
                            <td>Північний захід Африки</td>
                        </tr>
                        <tr>
                            <td>Суомус'ярви культура</td>
                            <td>6 500 до н. е. — 4 000 до н. е.</td>
                            <td>Фінляндія, Карелія</td>
                        </tr>
                        <tr>
                            <td>Тарденуазька культура</td>
                            <td>6 000 до н. е. — 3 000 до н. е.</td>
                            <td>Західна і Центральна Європа</td>
                        </tr>
                        <tr>
                            <td>Ертебеле культура</td>
                            <td>6 000 до н. е. — 3 000 до н. е.</td>
                            <td>Південне узбережжя Балтійського моря, Данія, Англія, південна Скандинавія</td>
                        </tr>
                        <tr>
                            <th colspan="3">Неоліт і Енеоліт</th>
                        </tr>
                        <tr>
                            <td>Хасунська культура</td>
                            <td>6000 до н. е. — 5000 до н. е.</td>
                            <td>Ірак, Іран</td>
                        </tr>
                        <tr>
                            <td>Сескло культура</td>
                            <td>6000 до н. е. — 4500 до н. е.</td>
                            <td>Греція</td>
                        </tr>
                        <tr>
                            <td>Караново культура</td>
                            <td>6000 до н. е. — 4500 до н. е.</td>
                            <td>Болгарія</td>
                        </tr>
                        <tr>
                            <td>Буго-дністровська культура</td>
                            <td>6000 до н. е. — 3800 до н. е.</td>
                            <td>Західна Україна</td>
                        </tr>
                        <tr>
                            <td>Самарська культура</td>
                            <td>5000 до н. е. — 4500 до н. е.</td>
                            <td>Ірак, Іран</td>
                        </tr>
                        <tr>
                            <td>Файюмська культура</td>
                            <td>5000 до н. е. — 4000 до н. е.</td>
                            <td>Нижній Єгипет</td>
                        </tr>
                        <tr>
                            <td>Анау культура</td>
                            <td>5000 до н. е. — 2000 до н. е.</td>
                            <td>Південний Туркменістан</td>
                        </tr>
                        <tr>
                            <td>Кампинійська культура</td>
                            <td>5000 до н. е. — 3000 до н. е.</td>
                            <td>Північна Франція, Бельгія</td>
                        </tr>
                        <tr>
                            <td>Халафська культура</td>
                            <td>4500 до н. е. — 4000 до н. е.</td>
                            <td>Ірак, Сирія, східна Туреччина</td>
                        </tr>
                        <tr>
                            <td>Діміні культура</td>
                            <td>4500 до н. е. — 4000 до н. е.</td>
                            <td>Греція</td>
                        </tr>
                        <tr>
                            <td>Вінча культура</td>
                            <td>4500 до н. е. — 3000 до н. е.</td>
                            <td>Югославія, південний захід Румунія</td>
                        </tr>
                        <tr>
                            <td>Стрічкової кераміки культура</td>
                            <td>4500 до н. е. — 2000 до н. е.</td>
                            <td>країни басейну ріки Дунай</td>
                        </tr>
                        <tr>
                            <td>Дніпро-донецька культура</td>
                            <td>4500 до н. е. — 2200 до н. е.</td>
                            <td>Україна, Білорусь</td>
                        </tr>
                        <tr>
                            <td>Верхньоволзька культура</td>
                            <td>4500 до н. е. — 3000 до н. е.</td>
                            <td>Горішня і середня Волга (ріка)</td>
                        </tr>
                        <tr>
                            <td>Сперінгс культура</td>
                            <td>4200 до н. е. — 3300 до н. е.</td>
                            <td>Карелія, Фінляндія</td>
                        </tr>
                        <tr>
                            <td>Ель-обейдська культура або Убейдська культура</td>
                            <td>4000 до н. е. — 3000 до н. е.</td>
                            <td>Месопотамія</td>
                        </tr>
                        <tr>
                            <td>Бадарійська культура</td>
                            <td>4000 до н. е. — 3500 до н. е.</td>
                            <td>Єгипет</td>
                        </tr>
                        <tr>
                            <td>Німанська культура (неолітична доба)</td>
                            <td>4000 до н. е. — 2000 до н. е.</td>
                            <td>Литва, північно-західна Білорусь</td>
                        </tr>
                        <tr>
                            <td>Яншао культура</td>
                            <td>4000 до н. е. — 2000 до н. е.</td>
                            <td>Середня і нижня Хуанхе</td>
                        </tr>
                        <tr>
                            <td>Кельтеминарська культура</td>
                            <td>4000 до н. е. — 2000 до н. е.</td>
                            <td>Басейн рік Амудар'ї і Зєравшана</td>
                        </tr>
                        <tr>
                            <td>Трипільська культура</td>
                            <td>3800 до н. е. — 2200 до н. е.</td>
                            <td>Західна Україна, Молдова, Румунія</td>
                        </tr>
                        <tr>
                            <td>Оса-нарвська культура</td>
                            <td>3800 до н. е. — 2500 до н. е.</td>
                            <td>Прибалтика, північно-західна Білорусь</td>
                        </tr>
                        <tr>
                            <td>Негадська культура</td>
                            <td>3500 до н. е. — 2800 до н. е.</td>
                            <td>Єгипет</td>
                        </tr>
                        <tr>
                            <td>Лійковидних кубків культура</td>
                            <td>3500 до н. е. — 2200 до н. е.</td>
                            <td>Центральна Європа, Данія, південна Скандинавія</td>
                        </tr>
                        <tr>
                            <td>Льяловська культура</td>
                            <td>3500 до н. е. — 2200 до н. е.</td>
                            <td>Північна Україна, Волзько-окське межиріччя</td>
                        </tr>
                        <tr>
                            <td>Типової грібенчато-ямкової кераміки культура</td>
                            <td>3000 до н. е. — 2300 до н. е.</td>
                            <td>Фінляндія, Естонія, Латвія, Іжорія</td>
                        </tr>
                        <tr>
                            <td>Долини Інду культура)</td>
                            <td>2800 до н. е. — 2200 до н. е.</td>
                            <td>Басейни рік Інд і Ганг</td>
                        </tr>
                        <tr>
                            <td>Майкопська культура</td>
                            <td>2500 до н. е. — 2000 до н. е.</td>
                            <td>Північний Кавказ</td>
                        </tr>
                        <tr>
                            <td>Середньодніпровська культура</td>
                            <td>2400 до н. е. — 1500 до н. е.</td>
                            <td>Північна Україна, Білорусь</td>
                        </tr>
                        <tr>
                            <td>Одиночних поховань культура</td>
                            <td>2300 до н. е. — 1800 до н. е.</td>
                            <td>Данія, Німеччина</td>
                        </tr>
                        <tr>
                            <td>Вісло-німанська культура (Жуцевська)</td>
                            <td>2300 до н. е. — 1500 до н. е.</td>
                            <td>Північно-східна Польща, Східна Пруссія, Литва, Латвія</td>
                        </tr>
                        <tr>
                            <td>Лад'єподібних сокир культура</td>
                            <td>2300 до н. е. — 1500 до н. е.</td>
                            <td>Естонія, південна і західна Фінляндія, Швеція, Норвегія</td>
                        </tr>
                        <tr>
                            <td>Дзвоноподібних келихів культура</td>
                            <td>2200 до н. е. — 1800 до н. е.</td>
                            <td>Західна і Центральна Європа</td>
                        </tr>
                        <tr>
                            <td>Волосівська культура</td>
                            <td>2200 до н. е. — 1800 до н. е.</td>
                            <td>Волзько-окське межиріччя</td>
                        </tr>
                        <tr>
                            <td>Фатьянівська культура</td>
                            <td>2000 до н. е. — 1500 до н. е.</td>
                            <td>горішня і середня Волга (ріка)</td>
                        </tr>
                        <tr>
                            <td>Кіукайнен культура</td>
                            <td>1800 до н. е. — 1300 до н. е.</td>
                            <td>Південна і західна Фінляндія</td>
                        </tr>
                        <tr>
                            <th colspan="3">Бронзова доба</th>
                        </tr>
                        <tr>
                            <td>Егейська культура або Крито-мікенська культура</td>
                            <td>3000 до н. е. — 1100 до н. е.</td>
                            <td>Узбережжя і острови Егейського моря, Крит, Кіпр, Греція</td>
                        </tr>
                        <tr>
                            <td>Катакомбна культура</td>
                            <td>2000 до н. е. — 1200 до н. е.</td>
                            <td>Територія між нижньою Волгою і нижнім Дністром</td>
                        </tr>
                        <tr>
                            <td>Унетицька культура</td>
                            <td>1800 до н. е. — 1500 до н. е.</td>
                            <td>Чехія, Словаччина, південна Німеччина, східна Австрія, західня Польща</td>
                        </tr>
                        <tr>
                            <td>Андронівська культура</td>
                            <td>1700 до н. е. — 1200 до н. е.</td>
                            <td>Територія між горішнім Єнісеєм, Сирдар'єю і Південним Уралом</td>
                        </tr>
                        <tr>
                            <td>Терамарі культура</td>
                            <td>1500 до н. е. — 1200 до н. е.</td>
                            <td>Північна Італія</td>
                        </tr>
                        <tr>
                            <td>Зрубна культура</td>
                            <td>1500 до н. е. — 800 до н. е.</td>
                            <td>Від ріки Урал до Дністра і Карпатських гір, і від Оки до Чорного моря</td>
                        </tr>
                        <tr>
                            <td>Курганних поховань культура</td>
                            <td>1500 до н. е. — 1200 до н. е.</td>
                            <td>південь Центральної Європи</td>
                        </tr>
                        <tr>
                            <td>Лужицька</td>
                            <td>1300 до н. е. — 400 до н. е.</td>
                            <td>Чехія, Німеччина, Західна Польща</td>
                        </tr>
                        <tr>
                            <td>Полів поховальних урн культура</td>
                            <td>1200 до н. е. — 800 до н. е.</td>
                            <td>південь Центральної Європи</td>
                        </tr>
                        <tr>
                            <td>Кобанська культура</td>
                            <td>1100 до н. е. — 400 до н. е.</td>
                            <td>Північний Кавказ</td>
                        </tr>
                        <tr>
                            <td>Асва культура</td>
                            <td>800 до н. е. — 500 до н. е.</td>
                            <td>Узбережжя Естонії і півдня Фінляндії</td>
                        </tr>
                        <tr>
                            <th colspan="3">Залізна доба</th>
                        </tr>
                        <tr>
                            <td>Гальштатська культура</td>
                            <td>900 до н. е. — 400 до н. е.</td>
                            <td>Східна Франція, південна Німеччина, Швейцарія, Австрія, Чехія, західна Угорщина,
                                Югославія і Албанія
                            </td>
                        </tr>
                        <tr>
                            <td>Віланова культура</td>
                            <td>900 до н. е. — 500 до н. е.</td>
                            <td>Захід північної Італії</td>
                        </tr>
                        <tr>
                            <td>Ананьїнська культура</td>
                            <td>800 до н. е. — 200 до н. е.</td>
                            <td>Басейн Ками, середньої Волги</td>
                        </tr>
                        <tr>
                            <td>Скитська культура</td>
                            <td>700 до н. е. — 200 до н. е.</td>
                            <td>Причорноморські степи</td>
                        </tr>
                        <tr>
                            <td>Саргатська культура</td>
                            <td>700 до н. е. — 400 н.е.</td>
                            <td>Західносибірський лісостеп</td>
                        </tr>
                        <tr>
                            <td>Городецька культура</td>
                            <td>700 до н. е. — 500 н.е.</td>
                            <td>Середня і нижня Ока, середня Волга</td>
                        </tr>
                        <tr>
                            <td>Дяковська культура</td>
                            <td>700 до н. е. — 500 н.е.</td>
                            <td>Захід території Волзько-окського межиріччя</td>
                        </tr>
                        <tr>
                            <td>Ястофрська культура</td>
                            <td>600 до н. е. — 1 н.е.</td>
                            <td>Німеччина, Данія</td>
                        </tr>
                        <tr>
                            <td>Латенська культура</td>
                            <td>500 до н. е. — 300 н.е.</td>
                            <td>Західна Європа, південь Центральної Європи</td>
                        </tr>
                        <tr>
                            <td>Сарматська культура</td>
                            <td>400 до н. е. — 400 н.е.</td>
                            <td>Степи між рікою Дунай і рікою Тобол</td>
                        </tr>
                        <tr>
                            <td>Зарубинецька культура</td>
                            <td>200 до н. е. — 300 н.е.</td>
                            <td>Середній Дніпро</td>
                        </tr>
                        <tr>
                            <td>П'яноборська культура</td>
                            <td>200 до н. е. — 500 н.е.</td>
                            <td>Басейн ріки Кама, середня Волга</td>
                        </tr>
                        <tr>
                            <td>Кам'яних могильників з огорожами культура</td>
                            <td>1 н.е. — 500 н.е.</td>
                            <td>Естонія, північна Латвія</td>
                        </tr>
                        <tr>
                            <td>Черняхівська культура</td>
                            <td>100 н.е. — 400 н.е.</td>
                            <td>Західна Україна, Молдова, східна Румунія</td>
                        </tr>
                        <tr>
                            <td>Курганних поховань культура (Японія)</td>
                            <td>300 н.е. — 600 н.е.</td>
                            <td>Японія</td>
                        </tr>
                        <tr>
                            <td>Празька культура</td>
                            <td>500 н.е. — 700 н.е.</td>
                            <td>Схід Центральної Європи, південна Білорусь, Західна Україна, Молдова, Румунія</td>
                        </tr>
                        </tbody>
                    </table>
                </figure>

            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-layout">
        <div class="row">
            <div class="col-12 col-text">

                <p>Назви археологічних культур умовні, мають різну природу, найчастіше культури називають за якою-небудь
                    відмінною ознакою:</p>

                <ul>
                    <li>формі або орнаменту кераміки й прикрас, наприклад, культура воронковидних кубків, кулястих амфор,
                        лійчастого посуду, багатоваликової (багатопружкової) кераміки тощо;</li>
                    <li>
                        обряду поховання (наприклад, три археологічні культури доби бронзи виділені В. Городцовим на початку
                        XX століття дістали назву за типами поховальних споруд — ямна, катакомбна та зрубна тощо;
                    </li>
                    <li>
                        за назвою місцевості, де були вперше знайдені найтиповіші пам'ятки даної культури, наприклад,
                        трипільська, зарубинецька, черняхівська культури — назви походять від назв сіл на Київщині та Черкащині,
                        де наприкінці XIX — початку XX століть здійснював активні розкопки старожитностей Вікентій Хвойка.
                    </li>
                </ul>

                <p><strong>Археологічні культури</strong>, з погляду етнічної належності, можуть належати:</p>

                <ul>
                    <li>
                        конкретній етнічній групі (іноді вдається зв'язати певну археологічну культуру з відомими з письмових
                        джерел <a href="https://uk.wikipedia.org/wiki/%D0%9F%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D0%B0">племенами</a>),
                    </li>
                    <li>
                        групі племен, з важливим впливом одного або декількох з них (у подібних соціальних і географічних
                        умовах могли незалежно виникнути подібні явища в побуті й матеріальній культурі різних племен),
                    </li>
                    <li>
                        частині етнічної групи, що мала інші природні умови, близьке сусідство або тісні зв'язки з іншим
                        племенем (або племенами), з іншою культурою (культурами) тощо.
                    </li>
                </ul>

                <p>Окремі елементи культури можуть також запозичитися через поширення ідей або переселення народу, носія
                    цієї культури. Вивчення виникнення, поширення й зникнення археологічної культури дає змогу
                    реконструювати історію племен і народів в епохах, що передують виникненню письмових джерел.</p>


            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-layout">
        <div class="row">
            <div class="col-12">
                {% assign list = site.archaeology | where_exp: "item", "item.path contains 'cultures'" %}
                {% assign list = list | sort: 'date' | reverse %}
                {% for item in list %}
                {% if item.path != page.path %}
                <article class="block entry">
                    <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
                </article>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>