---
title: Археологічна періодизація
description: Археологічна періодизація розроблена у першій половині XIX століття на археологічних матеріалах Скандинавії. В подальшому блискуче підтверджена на інших територіях Старого Світу і набула значення загальної культурно-історичної періодизації.
redirect_from: /periods/
---

<section class="page-section">
    <div class="page-layout-fluid">
        <div class="row">
            <div class="col-12">
                    <div class="table-container">
                    <table class="table table-borderless table-large mb-0">
                        <tbody>
                        <tr align="center">
                            <td bgcolor="#aadcdc" colspan="1" rowspan="10" width="15%"><b>Голоцен</b></td>
                            <td colspan="2" bgcolor="#bb7301">Латенська культура</td>
                            <td rowspan="3" bgcolor="#dd7301">&nbsp;</td>
                            <td bgcolor="#ffff99" rowspan="8">Протоісторія</td>
                        </tr>
                        <tr align="center">
                            <td colspan="2" bgcolor="#dd7301">Гальштатська культура</td>
                        </tr>
                        <tr align="center">
                            <td bgcolor="#dd7301" colspan="3">Залізна доба</b></td>
                        </tr>
                        <tr align="center">
                            <td colspan="2" bgcolor="#EB9301">Пізня</td>
                            <td rowspan="4" bgcolor="#EAC672">&nbsp;</td>
                        </tr>
                        <tr align="center">
                            <td colspan="2" bgcolor="#EAAD43">Середня</td>
                        </tr>
                        <tr align="center">
                            <td colspan="2" bgcolor="#FFB300">Рання</td>
                        </tr>
                        <tr align="center">
                            <td colspan="3" bgcolor="#EAC672"><b>Бронзова доба</b></td>
                        </tr>
                        <tr align="center">
                            <td colspan="1" bgcolor="#FBD783">Енеоліт</td>
                            <td rowspan="2" bgcolor="#eeeeee">&nbsp;</td>
                            <td rowspan="8" bgcolor="#cccccc">&nbsp;</td>
                        </tr>
                        <tr align="center">
                            <td colspan="2" bgcolor="#eeeeee">Неоліт</td>
                            <td bgcolor="#ffffaa" rowspan="7">Доісторичні часи</td>
                        </tr>
                        <tr align="center">
                            <td colspan="2" bgcolor="#dedede">Мезоліт,<br> <small>Епіпалеоліт</small>
                            </td>
                        </tr>
                        <tr align="center">
                            <td rowspan="5" bgcolor="#aadcff"><b>Плейстоцен</b>
                            </td>
                            <td bgcolor="#d0d0d0">Верхній</td>
                            <td rowspan="4" bgcolor="#a0a0a0">&nbsp;</td>
                        </tr>
                        <tr align="center">
                            <td bgcolor="#c0c0c0">Середній</td>
                        </tr>
                        <tr align="center">
                            <td bgcolor="#b0b0b0">Нижній</td>
                        </tr>
                        <tr align="center">
                            <td colspan="2" bgcolor="#a0a0a0">Палеоліт</td>
                        </tr>
                        <tr align="center">
                            <td colspan="3" bgcolor="#cccccc"><b>Кам'яна доба</b></td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
            </div>
        </div>
    </div>
</section>


<section class="page-section">
    <div class="page-layout">
        <div class="row">
            <div class="col-12">
                <p><strong>Археологічна періодизація</strong> — система періодизації культурно-історичного поступу; складається із трьох
                    віків — кам'яного, останнім періодом якого деякі вчені вважають енеоліт — мідно-кам'яний вік,
                    бронзового
                    та залізного. Археологічна періодизація охоплює періоди які не висвітлені, або ж слабко висвітлені в
                    письмових джерелах і закінчується на так званій історичній епосі — часові відомому вже не лише з
                    археологічних. але й з письмових джерел. Слід підкреслити, що археологічна періодизація охоплює
                    культури
                    про які нам щось відомо виключно чи майже виключно з археологічних знахідок.</p>
                <p>Археологічна періодизація розроблена у першій половині ХІХ століття на археологічних матеріалах
                    Скандинавії. В подальшому блискуче підтверджена на інших територіях Старого Світу і набула значення
                    загальної культурно-історичної періодизації. Основним критерієм розрізнення віків чи діб, який
                    використовується в археологічній періодизації, є залучення до виробництва та побутового вжитку
                    нових,
                    після каменю, природних матеріалів — спочатку міді, а потім бронзи та заліза. Археологічна
                    періодизація
                    послідовно фіксує найважливіші зрушення у матеріально-технічному розвитку людства, і в цьому полягає
                    її
                    пояснювальне значення. Вона є одним із важливих інструментів систематизації та первинної оцінки
                    археологічних пам'яток. До неї не закладено ніяких соціально-економічних критеріїв, а тому в
                    дослідженнях проблем соціального та економічного розвитку людства вона відіграє допоміжну роль.</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="page-layout">
        <div class="row">
            <div class="col-12">
                {% assign list = site.archaeology  | where_exp: "item", "item.path contains 'periods'"  %}
                {% assign list = list | sort: 'date' | reverse %}
                {% for item in list  %}
                {% if item.path != page.path %}
                <article class="block entry">
                    <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
                </article>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>