<section id="laboratory" class="page-section page-section-cover page-section-blue">
    <div class="page-layout d-cover">
        <div class="row d-cover">
            <div class="col-12 d-cover a-centered">
                <div class="text-white">
                    <div class="text-center">
                        <h1>Навчальна науково-дослідна лабораторія археологічних досліджень</h1>
                        <h4>Інституту історичної освіти Національного педагогічного університету ім. М. П. Драгоманова.</h4>
                    </div>
                    <div class="row-button">
                        <div class="col-button">
                            <a href="#top" class="btn">Історія</a>
                        </div>
                        <div class="col-button">
                            <a href="#archaeology" class="btn">Експедиції</a>
                        </div>
                        <div class="col-button">
                            <a href="#history" class="btn">Фонди</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>