<section id="archaeology" class="page-section page-section-cover page-section-dark">
    <div class="page-layout d-cover a-centered text-light">
        <div class="row width-full">
            <div class="col-12 text-center">
                <h2>Prices</h2>
                <h4>asdfasd fasdfasdf</h4>
            </div>
        </div>
        <div class="row-price">
            <div class="col-price">
                <div class="block-price">
                    <div class="block-price-header">
                        Header
                    </div>
                    <div class="block-price-content">
                        <p>asdjaksjdkajskdjasd</p>
                        <ul>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                        </ul>
                    </div>
                    <div class="block-price-footer text-bold">
                        Order
                    </div>
                </div>
            </div>
            <div class="col-price featured">
                <div class="block-price main">
                    <div class="block-price-header">
                        Header
                    </div>
                    <div class="block-price-content">
                        <p>asdjaksjdkajskdjasd</p>
                        <ul>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                        </ul>
                        <p>asdjfhakjsdfhkjahsdfjkahsjd</p>
                        <p>asdjfhakjsdfhkjahsdfjkahsjd</p>
                        <p>asdjfhakjsdfhkjahsdfjkahsjd</p>
                    </div>
                    <div class="block-price-footer text-bold">
                        Order
                    </div>
                </div>
            </div>
            <div class="col-price">
                <div class="block-price">
                    <div class="block-price-header">
                        Header
                    </div>
                    <div class="block-price-content">
                        <p>asdjaksjdkajskdjasd</p>
                        <ul>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                            <li>jahsdkjahskjdh</li>
                        </ul>
                    </div>
                    <div class="block-price-footer text-bold">
                        Order
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>