<!DOCTYPE html>
<html lang="en">
<head>
{% include meta.html %}
{% include resources.html %}
</head>
<body>
<main class="page">
{% include header.html %}
{% include banner.html %}
<div class="page-main">
    <section class="page-section">
        <div class="page-layout">
            <div class="row">
                <div class="col block-text">
                    {{ content }}
                </div>
                <div class="col-auto block-contents">
                    {% include table_of_contents.html html=content h_min=2 %}
                </div>
            </div>
        </div>
    </section>
</div>
{% include footer.html %}
</main>
</body>
</html>